body {
    font-family: 'Nunito', sans-serif;
    padding: 12px 200px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    display: flex;
    align-items: center;
    font-size: 32px;
}

.header__logo {
    height: 48px;
    width: auto;
    margin-right: 16px;
}

.intro {
    padding: 100px 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #333;
}

.intro__title {
    font-size: 40px;
    margin-bottom: 20px;
}

.intro__image {
    max-height: 500px;
}

.intro__cta {
    margin-top: 40px;
}

.intro__input {
    width: 400px;
    height: 40px;
    border: 1px solid #888;
    padding: 0 12px;
    border-radius: 8px;
    color: #2e599f;
}

.intro__input:focus {
    outline: none;
    border: 1px solid #2e599f;
}

.intro__cta-button {
    height: 40px;
    background-color: white;
    color: #2e599f;
    padding: 0 20px;
    border: 1px solid #2e599f;
    border-radius: 8px;
}

.intro__cta-button:hover {
    color: #fff;
    background-color: #2e599f;
    cursor: pointer;
}

@media (max-width: 1400px) {
    body {
        padding: 12px 80px;
    }

    .intro__image {
        max-height: 440px;
    }
}

@media (max-width: 1200px) {
    .intro__image {
        max-height: 400px;
    }
}

@media (max-width: 1000px) {
    body {
        padding: 12px 40px;
    }

    .intro__title {
        font-size: 36px;
    }

    .intro__image {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 12px;
    }

    .intro {
        padding: 40px 0;
        font-size: 20px;
        flex-direction: column;
    }

    .intro__title {
        font-size: 32px;
    }
}