.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.footer {
    background-color: #163247;
    padding: 25px;
}

.footer-header {
  display:flex;
  color: #aaa;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.footer-about {
  width: 80%;
  margin-right: 60px;
}
.footer-about h3 {
  font-size: 16px;
  color: #ddd;
  margin-bottom: 10px;
}
.footer-about p {
  font-size: 14px;
  border-left: 2px solid #aaa;
  padding-left: 15px;
}
.footer-quick-links {
  width: 30%;
}
.footer-quick-links h3 {
  font-size: 16px;
  color: #ddd;
  text-align: right;
  margin-bottom: 10px;
}
.footer-quick-links p {
  font-size: 14px;
  text-align: right;
  border-right: 2px solid #aaa;
  padding-right: 15px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
}
.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.125rem;
  height: 2.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ddd;
  font-size: 18px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  margin-bottom: 5px;
}
/* 
.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
} */
.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
    font-size: 20px;
  }
/* 



.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
} 

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}*/