@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
	font-family: 'Nunito', sans-serif;
}
a {
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	color: #163247;
}
h1 {
	padding: 0px;
	margin: 0px;
}

.title {
	display: flex;
	justify-content: center;
	font-size: 50px;
}
.sub-title {
	display: flex;
	justify-content: center;
	font-size: 40px;
}

.logo {
	height: 100px;
	width: 100px;
}
.logo-container {
	display:flex;
	justify-content: center;
}

.timer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.time {
	border: 1px solid #163247;
	border-radius: 20px;
	box-shadow: 0px 0px 2px 1px #aaa;
	height: 110px;
	width: 110px;
	margin: 20px 50px 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

@media screen and (max-width: 767px) {
	.title {
		display: flex;
		justify-content: center;
		font-size: 40px;
	}
	.timer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.time {
		border: 1px solid #163247;
		border-radius: 10px;
		box-shadow: 0px 0px 4px 1px #aaa;
		height: 80px;
		width: 80px;
		margin: 4px 4px 4px 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 40px;
	}
	.sub-title {
		display: flex;
		justify-content: center;
		font-size: 20px;
	}
}
@media screen and (max-width: 320px) {
	.title {
		display: flex;
		justify-content: center;
		font-size: 30px;
	}
	.timer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.time {
		border: 1px solid #163247;
		border-radius: 10px;
		box-shadow: 0px 0px 4px 1px #aaa;
		height: 60px;
		width: 60px;
		margin: 4px 4px 4px 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30px;
	}
	.sub-title {
		display: flex;
		justify-content: center;
		font-size: 15px;
	}
}